<div class="newDiscussion">
  <form class="form" method="post" #form="ngForm" (ngSubmit)="onSubmit()">
    <p class="title">new Discussion</p>
    @if (successMessage) {
      <p class="success-message">{{ successMessage }}</p>
    }
    @if (errorMessage) {
      <p style="color:red" class="error-message">{{ errorMessage }}</p>
    }
      <label>
      <span>Name of group</span>
      <input [(ngModel)]="newDiscussion.title"
             name="title"
             class="input" type="text"
             placeholder="" required="Email is required">
    </label>


    <button class="button">Créer</button>


  </form>
</div>
