@if (currentDiscussion) {
  <div class="editDiscussion">
    <form class="form" method="post" #form="ngForm" (ngSubmit)="onSubmit()">

      <p class="title">new Discussion</p>
      @if (successMessage) {
        <p class="success-message">{{ successMessage }}</p>
      }
      @if (errorMessage) {
        <p style="color:red" class="error-message">{{ errorMessage }}</p>
      }
      <label>
        <span>Name of group</span>
        <input [(ngModel)]="currentDiscussion.title"
               name="title"
               class="input" type="text"
               placeholder="" required="Email is required">
      </label>

      <span>Membres</span>



      @if (usersNotInGroup) {
        @for (user of usersNotInGroup; track user.uid) {
          @if (user.uid) {
            <div>
              <input type="checkbox"
                     [id]="user.uid"
                     [value]="user.uid"
                     [checked]="selectedUsers.includes(user.uid)"
                     (change)="toggleUserSelection(user.uid)"
                     name="participants"/>
              <label [for]="user.uid">{{ user.displayName }} <span>{{ user.email }}</span></label>
            </div>
          }
        }
      }
      @if (usersInGroup) {
        @for (user of usersInGroup; track user.uid) {
          @if (user.uid) {
            <div>
              <input type="checkbox"
                     [id]="user.uid"
                     [value]="user.uid"
                     [checked]="selectedUsers.includes(user.uid)"
                     (change)="toggleUserSelection(user.uid)"
                     name="participants"
                     checked
              />
              <label [for]="user.uid">{{ user.displayName }} <span>{{ user.email }}</span></label>
            </div>
          }
        }
      }

      <button class="submit button">modifier</button>


    </form>
  </div>

}
