@if (currentDiscussion) {
  <div class="editDiscussion">
    <form class="form" method="post" #form="ngForm" (ngSubmit)="onSubmit()">

      <p class="title">new Discussion</p>
      @if (successMessage) {
        <p class="success-message">{{ successMessage }}</p>
      }
      @if (errorMessage) {
        <p style="color:red" class="error-message">{{ errorMessage }}</p>
      }
      <label>
        <span>Name of group</span>
        <input [(ngModel)]="currentDiscussion.title"
               name="title"
               class="input" type="text"
               placeholder="" required="Email is required">
      </label>

      <span>Ajouter des membres</span>



      @if (usersNotInGroup) {
        @for (user of usersNotInGroup; track user.uid){

        }
       }

      <button class="submit button">modifier</button>


    </form>
  </div>

}
